body {
  font-family: 'Poppins';
  margin: 0;
}

.ant-typography,
.ant-btn,
.ant-menu,
.ant-layout,
.ant-card,
.ant-input,
.ant-select,
.ant-modal,
.ant-dropdown,
.ant-table,
.ant-input-number,
.ant-input-number-input,
.ant-form-item-label,
.ant-form {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}

.ant-message {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.ant-typography h1,
.ant-typography h2,
.ant-typography h3,
.ant-typography h4,
.ant-typography h5,
.ant-typography h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Poppins', sans-serif;
}

/* .custom-spinner .ant-spin-dot-item {
  background-color: #B33939 !important;
} */

.ant-menu {
  font-family: 'Poppins', sans-serif;
}
.ant-button {
  font-family: 'Poppins', sans-serif !important;
}
.ant-btn,
.ant-btn-primary,
.ant-btn-dangerous,
.ant-btn-link,
.ant-btn-text,
.ant-btn-default,
.ant-btn-dashed,
.ant-btn-ghost,
.ant-btn-lg,
.ant-btn-sm {
  font-family: 'Poppins', sans-serif !important;
}

.ant-menu-item {
  border-radius: 5px !important;
  line-height: 2.5 !important;
}

